<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Milestone 1</title>
</head>

<body>
    <h3>Raspberry Pi status</h3>
    <p>Humidity: {{hum}}%</p>
    <p>Temperature: {{temp}} C</p>
    <p>Distance: {{distance}} cm</p>
    <button onclick="{{ledToggle}}">Toggle LED</button>
</body>

</html>