<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="text-center">Raspberry Pi status</h1>
    <button onclick="{{function}}">click</button>
    <p>{{message}}</p>
</body>

</html>